###############################################################################
#                             APPLICATION CONFIG                              #
###############################################################################

# Development options
# debug: true

spring:
  mvc:
    locale: es
    locale-resolver: fixed
  messages:
    encoding: UTF-8
    basename: messages,security-messages/messages
  data:
    web:
      pageable:
        default-page-size: 10
  aop:
    proxy-target-class: false
  cache:
    cache-names: cache1
    caffeine:
      spec: maximumSize=500,expireAfterAccess=10m
  liquibase:
    liquibase-schema: db_versioning
  jackson:
    time-zone: UTC

# OpenAPI
springdoc:
  api-docs:
    path: /api-docs
