services:
  association-db:
    image: postgres:18.0-alpine
    environment:
      PGUSER: 'postgres'
      POSTGRES_DB: 'postgres'
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'password'
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      # DB content
      - association-data:/var/lib/postgresql/data
      # Initial schemas
      - ./sql/create_schemas.sql:/docker-entrypoint-initdb.d/create_schemas.sql
    networks:
      - db
  association-backend:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    ports:
      - "8080:8080"
      - "8000:8000"
    depends_on:
      association-db:
        condition: service_healthy
      mail:
        condition: service_healthy
    environment:
      # Activates profile
      - spring.profiles.active=dev
      # Logs
      - logging.file.path=./logs
      # DB
      - spring.datasource.url=jdbc:postgresql://association-db:5432/postgres
      - spring.datasource.username=postgres
      - spring.datasource.password=password
      # Mail
      - spring.mail.host=mail
      - spring.mail.port=1025
      - spring.mail.username=username
      - spring.mail.password=password
      - email.security.from=security@somewhere.com
      - email.security.activateUser.url=http://localhost:4200/users/activate
      - email.security.passwordRecovery.url=http://localhost:4200/password/reset/
    volumes:
      - association-logs:/app/logs
    networks:
      - db
      - mail
      - monitoring
  #=========#
  # SUPPORT #
  #=========#
  mail:
    image: maildev/maildev:2.2.1
    ports:
      - "1080:1080"
    healthcheck:
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - mail
  #============#
  # MONITORING #
  #============#
  prometheus:
    image: prom/prometheus:v2.53.1
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      association-backend:
        condition: service_healthy
    networks:
      - monitoring
  promtail:
    image: grafana/promtail:2.9.0
    command: -config.file=/etc/promtail/config.yaml
    depends_on:
      association-backend:
        condition: service_healthy
      loki:
        condition: service_healthy
    volumes:
      - ./promtail-config.yaml:/etc/promtail/config.yaml
      - association-logs:/logs
    networks:
      - monitoring
  loki:
    image: grafana/loki:2.9.0
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    depends_on:
      association-backend:
        condition: service_healthy
    healthcheck:
      test: wget --quiet --tries=1 --output-document=- http://localhost:3100/ready | grep -q -w ready || exit 1
      interval: 10s
      timeout: 15s
      retries: 5
      start_period: 20s 
    networks:
      - monitoring
  grafana:
    image: grafana/grafana:11.1.1
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./grafana/dashboard_provider.yml:/etc/grafana/provisioning/dashboards/dashboard_provider.yml
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - monitoring
volumes:
  association-data:
  association-logs:
networks:
  db:
  mail:
  monitoring: