version: '3'
services:
    association-db:
        image: postgres:15.0-alpine
        environment:
            PGUSER: 'postgres'
            POSTGRES_DB: 'postgres'
            POSTGRES_USER: 'postgres'
            POSTGRES_PASSWORD: 'password'
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready", "-U postgres"]
            interval: 30s
            timeout: 10s
            retries: 5
        volumes:
            - association-data:/var/lib/postgresql/data
    association-backend:
        build:
            context: ../
            dockerfile: ./docker/Dockerfile
        ports:
            - "8080:8080"
            - "8000:8000"
        depends_on:
            association-db:
                condition: service_healthy
        links:
            - "association-db"
        environment:
            # Logs
            - logging.file.path=./logs
            # JDBC
            - spring.datasource.url=jdbc:postgresql://association-db:5432/postgres
            - spring.datasource.username=postgres
            - spring.datasource.password=password
            - spring.profiles.active=development
            # CORS
            - cors.origins=http://localhost:4200
            # JWT
            - security.jwt.secret=1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
            - security.jwt.validity=18000
        volumes:
            - association-logs:/logs
volumes:
    association-data:
    association-logs: